body {
	background-image: url(https://github.com/5rq/5rq.github.io/blob/main/assets/media/bg.gif?raw=true);
	object-fit: cover;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center top
}

.social {
	top: 50%;
	left: 50%;
	z-index: 2;
	display: flex;
	margin: 0 auto;
	padding: 5px 10px;
	object-fit: cover;
	position: absolute;
	border-radius: 20px;
	background-size: cover;
	background-repeat: no-repeat;
	object-position: center center;
	transform: translate(-50%, -50%);
	background-position: center top;
	box-shadow: 0 0 40px rgba(255, 255, 255, .15);
	background-color: rgba(0, 0, 0, .90)
}
